.setting-menu {
    height: 140px;
    width: 150px;
    position: fixed;
    top: 45px;
    right: 20px;
    border-radius: 10px;
    background-color: #110f12;
    color: white;
}

.setting-menu p {
    font-size: 1.1rem;
    cursor: pointer;
}