.setting-menu {
    height: 100vh;
    width: 325px;
    background-color: #110f12;
    color: white;
    animation: slide 100ms linear;
}

@keyframes slide {
    from {
        width: 0px
    }
    to {
        width: 325px;
    }
}