.side-menu {
    height: 100vh;
    width: 325px;
    background-color: #110f12;
    box-sizing: border-box;
    padding-top: 25px;
}

.search-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    height: 35px;
    width: 65%;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    padding: 0px 10px;
    font-size: 1.25rem;
}

.create-group-btn {
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    font-size: 1.25rem;
}